<footer class="footer w-100">
    <div class="container-fluid  bg-primary-subtle border border-dark text-black">
        <div class="row">
            <div class=" col-md-4 " id="footDiv">
                <p>Copyright &copy; RUSA Cakes.All rights reserved.</p>
            </div>
            <div class="col-md-4 text-center mt-3">
                <span>Follow on</span>
                <img src="../../assets/images/facebook.png" class="mx-3">
                <img src="../../assets/images/instagram.png" class="mx-3">
                <img src="../../assets/images/twitter.png" class="mx-3">
            </div>
            <div class="col-md-4 mt-3">
                <a href="#" class="text-black mx-3">About us</a>
                <a href="#" class="text-black mx-3">Contact us</a>
                <a href="#" class="text-black mx-3">FAQ</a>
            </div>
        </div>
    </div>
</footer>